<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{521,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,171},{521,148}}</string>
				<key>sourceSize</key>
				<string>{716,490}</string>
			</dict>

			<key>hpGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,107},{809,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{138,332},{809,105}}</string>
				<key>sourceSize</key>
				<string>{1024,768}</string>
			</dict>

			<key>hpRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{810,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,331},{810,106}}</string>
				<key>sourceSize</key>
				<string>{1024,768}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>